export WORKSPACE_ROOT=$(pwd)

export DEV_SSL_KEY="$WORKSPACE_ROOT/certs/key.pem"
export DEV_SSL_CERT="$WORKSPACE_ROOT/certs/cert.pem"

if test -f ./.envrc.local; then
    source_env ./.envrc.local
fi

if command -v nix-shell &> /dev/null
then
    use_flake
fi

# region-start: expo
# When building react-native on iOS, it requires `cp -X` for macOS than the one from nix.
export PATH="/bin:$PATH"

# Needed for new React Native architecture (aka Fabric)
export RCT_NEW_ARCH_ENABLED=1
# region-end: expo

source $WORKSPACE_ROOT/examples/src/cli/shell.sh

export LS_DEV=1
export VITE_LS_DEV=$LS_DEV

# export LS_TRACE_VERBOSE="1"
# export VITE_LS_TRACE_VERBOSE="1"
