[submodule "wa-sqlite"]
	path = packages/@livestore/wa-sqlite
	url = git@github.com:livestorejs/wa-sqlite.git
[submodule "packages/@livestore/wa-sqlite"]
	path = packages/@livestore/wa-sqlite
	url = git@github.com:livestorejs/wa-sqlite.git
