node_modules
.node_modules
.idea/
.DS_Store

test-results
playwright-report

.envrc.local

tmp*
dist

*.tsbuildinfo

*.log

*.db

.direnv

# self-signed certs
/certs

.wrangler
.vercel
.netlify

examples-monorepo