# NOTE we only need `node-linker=hoisted` for Expo to work properly and we should strive to remove it again once fixed in Expo
# See https://github.com/expo/expo/issues/22413 / https://github.com/pnpm/pnpm/issues/4286
# 
# However, now when using this flag, this is causing another PNPM bug to manifest itself, where workspace packages,
# are not properly hoisted to the root node_modules which causes problems with the livestore devtools package
# See https://github.com/pnpm/pnpm/issues/6754
# To work around this we've added `@livestore/livestore` to `depdenencies` in the root `package.json`. This should also be removed once the PNPM bug is fixed.
node-linker=hoisted