package-manager-strict=false
dedupe-direct-deps=true
prefer-workspace-packages=true

# TODO get rid of Expo-related hoisting rules once Expo properly works with PNPM https://github.com/expo/expo/issues/22413
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=!@livestore/devtools-expo
public-hoist-pattern[]=!@livestore/devtools-expo-common
public-hoist-pattern[]=!@livestore/adapter-expo