{
	auto_https disable_redirects
	admin off
	http_port 80
	https_port 443

	servers {
		protocols h1 # Needed since Vite doesn't support HTTP/2 yet and sometimes causes 502 errors
	}
}

# NOTE This file is split into 2 files, so the `Caddyfile-hosts` file can be imported from somewhere else
import ./Caddyfile-hosts
