# Load .envrc from workspace root
source_up

# When building react-native on iOS, it requires `cp -X` for macOS than the one from nixOS.
export PATH="/bin:$PATH"

# Needed for new React Native architecture (aka Fabric)
export RCT_NEW_ARCH_ENABLED=1
