name: ci

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main  # Only run on pushes to main
  pull_request:
    branches: ['**']  # Run on PRs targeting any branch

env:
  GITHUB_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - run: mono lint

  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - name: Set OTEL_EXPORTER_OTLP_HEADERS environment variable
        env:
          GRAFANA_CLOUD_OTLP_INSTANCE_ID: 1227256
          GRAFANA_CLOUD_OTLP_API_KEY: ${{ secrets.GRAFANA_CLOUD_OTLP_API_KEY }}
        run: |
          echo "OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic $(echo -n "$GRAFANA_CLOUD_OTLP_INSTANCE_ID:$GRAFANA_CLOUD_OTLP_API_KEY" | base64 -w 0)" >> $GITHUB_ENV
          echo "GRAFANA_ENDPOINT=https://livestore.grafana.net" >> $GITHUB_ENV
          echo "OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-us-east-2.grafana.net/otlp" >> $GITHUB_ENV
      - run: mono test unit
      - run: mono test integration misc
      - run: mono test integration todomvc
      - run: mono test integration node-sync
      # - run: mono test integration devtools
      # TODO fix flaky devtools test
      - run: mono test integration devtools || echo "::warning::Script failed but continuing"

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: tests/integration/playwright-report/
          retention-days: 30
      - name: "Upload trace"
        if: ${{ !cancelled() }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          # TODO surface deploy url in github UI via environments
        run: |
          bunx netlify-cli deploy --no-build --dir=tests/integration/playwright-report --site livestore-ci --filter @local/tests-integration
  perf-test:
    runs-on: ubuntu-24.04 # Prefer a specific version for more consistent performance measurements between runs
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }} # See https://github.com/orgs/community/discussions/26325
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - name: Use FlakeHub Cache for Nix binaries
        uses: DeterminateSystems/flakehub-cache-action@main
      - name: Load environment with direnv
        uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - name: Set OTEL_EXPORTER_OTLP_HEADERS environment variable
        env:
          GRAFANA_CLOUD_OTLP_INSTANCE_ID: 1227256
          GRAFANA_CLOUD_OTLP_API_KEY: ${{ secrets.GRAFANA_CLOUD_OTLP_API_KEY }}
        run: echo "OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic $(echo -n "$GRAFANA_CLOUD_OTLP_INSTANCE_ID:$GRAFANA_CLOUD_OTLP_API_KEY" | base64 -w 0)" >> $GITHUB_ENV
      - name: Run performance tests
        run: pnpm test:perf
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }} # See https://github.com/orgs/community/discussions/26325
          GRAFANA_ENDPOINT: https://livestore.grafana.net
          OTEL_EXPORTER_OTLP_ENDPOINT: https://otlp-gateway-prod-us-east-2.grafana.net/otlp

  publish-snapshot-version:
    if: github.event.pull_request.head.repo.fork != true
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: [test]
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - name: Configure NPM authentication
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: mono release snapshot --git-sha=${{ github.sha }}

  generate-examples-standalone:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - run: mono examples sync --direction src-to-standalone

  build-and-deploy-examples-src:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts
      - run: |
          mono examples deploy \
            --prod=${{ github.ref == 'refs/heads/main' && 1 || 0 }} \
            --alias=snapshot-$(git rev-parse --short HEAD)
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          VITE_LIVESTORE_SYNC_URL: 'https://websocket-server.schickling.workers.dev'

  build-deploy-docs:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: HatsuneMiku3939/direnv-action@v1
        timeout-minutes: 5
      - run: pnpm install
      - run: pnpm build:ts # Needed for starlight-typedoc
      - run: mono docs build --api-docs
      - run: mono docs deploy
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  # NOTE for the example jobs below we're not using the Nix setup but instead are just using bun directly
  # to simulate a simple user-facing setup

  build-example-tiged-todomvc:
    if: github.event.pull_request.head.repo.fork != true
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: [publish-snapshot-version]
    steps:
      - uses: oven-sh/setup-bun@v2
      # TODO bring back once repo is public
      # - run: bunx tiged https://github.com/livestorejs/livestore/examples/todomvc#${{ github.sha }} example
      - uses: actions/checkout@v4
        with:
          path: example-repo
      - run: cp -r example-repo/examples/standalone/web-todomvc example
      - name: Add snapshot resolution to package.json
        run: |
          for pkg in livestore adapter-web peer-deps react common utils; do
            jq --arg pkg "$pkg" --arg sha "${{ github.sha }}" '.resolutions["@livestore/" + $pkg] = "0.0.0-snapshot-" + $sha' package.json > package.json.tmp && mv package.json.tmp package.json
          done
        working-directory: example
      - uses: nick-fields/retry@v3
        with:
          retry_wait_seconds: 10
          timeout_minutes: 5
          max_attempts: 2
          command: cd example && bun install
      - run: bun run build
        working-directory: example

  build-example-tiged-linearlite:
    if: github.event.pull_request.head.repo.fork != true
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: [publish-snapshot-version]
    steps:
      - uses: oven-sh/setup-bun@v2
      # TODO bring back once repo is public
      # - run: bunx tiged https://github.com/livestorejs/livestore/examples/linearlite#${{ github.sha }} example
      - uses: actions/checkout@v4
        with:
          path: example-repo
      - run: cp -r example-repo/examples/standalone/web-linearlite example
      - name: Add snapshot resolution to package.json
        run: |
          for pkg in livestore adapter-web peer-deps react common utils; do
            jq --arg pkg "$pkg" --arg sha "${{ github.sha }}" '.resolutions["@livestore/" + $pkg] = "0.0.0-snapshot-" + $sha' package.json > package.json.tmp && mv package.json.tmp package.json
          done
        working-directory: example
      - uses: nick-fields/retry@v3
        with:
          retry_wait_seconds: 10
          timeout_minutes: 5
          max_attempts: 2
          command: cd example && bun install
      - run: bun run build
        working-directory: example

  build-example-tiged-expo-linearlite:
    if: github.event.pull_request.head.repo.fork != true
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: [publish-snapshot-version]
    steps:
      - uses: oven-sh/setup-bun@v2
      # TODO bring back once repo is public
      # - run: bunx tiged https://github.com/livestorejs/livestore/examples/expo-linearlite#${{ github.sha }} example
      - uses: actions/checkout@v4
        with:
          path: example-repo
      - run: cp -r example-repo/examples/standalone/expo-linearlite example
      - name: Add snapshot resolution to package.json
        run: |
          for pkg in livestore adapter-web peer-deps react common utils; do
            jq --arg pkg "$pkg" --arg sha "${{ github.sha }}" '.resolutions["@livestore/" + $pkg] = "0.0.0-snapshot-" + $sha' package.json > package.json.tmp && mv package.json.tmp package.json
          done
        working-directory: example
      - uses: nick-fields/retry@v3
        with:
          retry_wait_seconds: 10
          timeout_minutes: 5
          max_attempts: 2
          command: cd example && bun install
      # TODO EAS build
      # - run: bun run build
      #   working-directory: example
